<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentimnet Prediction</title>
</head>
<body>
        <div class="chart-container">
           <canvas id="sentimentChartPie"></canvas>
       </div>
       <div class="chart-container1">
           <canvas id="sentimentChartBar"></canvas>
       </div>
       <div class="chart-container2">
        <canvas id="sentimentChartLine"></canvas>
        <p id="predictedSentiment"></p>
       </div>
</body>
<script src="static/js/sentiment.js"></script>
</html>